<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Mask blockchain explorer | ThePirateMine | Mask | MASK</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="https://thepiratemine.nl/mask.png">		
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>
    {{#js_files}}{{/js_files}}
	{{^enable_js}}{{/enable_js}}
	<script>
	$(function(){
		$('.theme').on('click', function(){
			if($(this).hasClass('clicked')){
				$(this).removeClass('clicked');
				$('body').removeClass('dark-theme');
				localStorage.setItem('theme-mask', 'light');
			}else{
				$(this).addClass('clicked');
				$('body').addClass('dark-theme');
				localStorage.setItem('theme-mask', 'dark');
			}			
		});
		
		if(localStorage.getItem('theme-mask') == 'dark'){
			$('.theme').addClass('clicked');
			$('body').addClass('dark-theme');
		}
	});
	</script>
</head>    
<body>
	<header>  
		<div class="col-sm-10 col-sm-offset-1">	
			<ul>
				<li class="logo"><a href="/" target="_self">Explorer</a></li>
				<li class="theme">
					<span class="dark">Dark Theme</span>				
					<span class="light">Light Theme</span>				
				</li>
			</ul>					
		</div>
	</header>
		
	<div class="col-sm-10 col-sm-offset-1">		
		<div class="padding-bottom-md">
			<ul>
				<li><a href="/txpool" target="_self">Tx pool</a></li>
				<li>|</li>
				<li><a href="https://mask.thepiratemine.nl">Mining Pool</a></li>
			</ul>
		</div>			
		
		<div class="card download-wallets">
			<div class="padding-md">	
				<a target="_blank" href="https://github.com/mask-projects/mask-wallet/releases/download/v1.0.2/Mask.Wallet.Setup.1.0.2t.zip" class="btn btn-default">Download: <i class="fa fa-desktop"></i> GUI wallet</a>
				<a target="_blank" href="https://github.com/mask-project/mask/releases/download/0.2.4.0/mask-win-x64-v0.2.4.0.zip" class="btn btn-default">Download: <i class="fa fa-terminal" style="border: 1px solid #fff; padding: 0px 3px;"></i> CLI wallet</a>
			</div>	
		</div>	

		<div class="card">		
			<div class="padding-left-md padding-right-md padding-bottom-md">	
				<h3>Search for block height, block hash or transaction hash</h3>
				<form action="/search" method="get">
					<div class="input-group">
						<input class="form-control" type="text" name="value" size="120" placeholder="block height, block hash, transaction hash">
						<span class="input-group-btn">
							<button class="btn btn-default">Search</button>
						</span>
					</div>
				</form>
			</div>
		</div>