<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>FURY Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

    {{#js_files}}{{/js_files}}

</head>
    
    {{^enable_js}}{{/enable_js}}
<header>
    		
    <div class="header-center">
        <a href="/" target="_self"><img alt="logo-FURY" src="https://fury-coin.com/images/logo.png"></a>
        <ul>
            <li><a href="https://fury-coin.com">fury-coin.com</a></li>
            <li><a href="http://mine.fury-coin.com">Mining Pool</a></li>
            <li><a href="https://fury-coin.com/downloads">Download Wallet</a></li>
        </ul>  
    </div>
</header>
<body>
<div>
    <div class="center">
        <form action="/search" method="get" class="style-1 center">
            <input type="text" name="value" size="120" placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
