    {{#network_info}}
	<div class="card">
		<div class="col-sm-12">	 			
			<h3>
			Network
			| 
			Server time: {{server_timestamp}}
			 {{#enable_pusher}}
				| <a href="/rawtx">Transaction pusher </a>
			 {{/enable_pusher}}
			 {{#enable_key_image_checker}}
				| <a href="/rawkeyimgs">Key images checker</a>
			 {{/enable_key_image_checker}}
			 {{#enable_output_key_checker}}
				| <a href="/rawoutputkeys">Output keys checker</a>
			 {{/enable_output_key_checker}}
			 {{#enable_autorefresh_option}}
				 |
				{{#refresh}}
					<a href="/">Autorefresh is ON (10 s)</a>
				{{/refresh}}
				{{^refresh}}
				   <a href="/autorefresh">Autorefresh is OFF</a>
				{{/refresh}}
			 {{/enable_autorefresh_option}}
			 {{#testnet_url}}
				| <a href="{{testnet_url}}">Go to testnet explorer</a>
			 {{/testnet_url}}
			 {{#stagenet_url}}
				| <a href="{{stagenet_url}}">Go to stagenet explorer</a>
			 {{/stagenet_url}}
			 {{#mainnet_url}}
				| <a href="{{mainnet_url}}">Go to mainnet explorer</a>
			 {{/mainnet_url}}
			 {{#testnet}}
				| This is <span style="color:#ff6b62">testnet</span> blockchain
			 {{/testnet}}
			 {{#stagenet}}
				| This is <span style="color:#ff6b62">stagenet</span> blockchain
			 {{/stagenet}}
 
			</h3>
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<tbody>
						<tr>	
							<td class="w200">Network difficulty</td>
							<td>{{difficulty}}</td>
						</tr>
						<tr>
							<td>Hard fork</td>
							<td>v{{current_hf_version}}</td>
						</tr>	
						<tr>
							<td>Hashrate</td>
							<td>{{hash_rate}}</td>
						</tr>		
						<tr>
							<td>Fee per kb</td>
							<td>{{fee_per_kb}}</td>
						</tr>		
						<tr>
							<td>Median block size limit</td>
							<td>{{block_size_limit}} kB</td>
						</tr>
						{{^is_current_info}}
						<tr>
							<td>Data from</td>
							<td>{{age}} {{age_format}} ago</td>
						</tr>						
						{{/is_current_info}}
					</tbody>
				</table>
			</div>
		</div>
	</div>    
    {{/network_info}}
	
	{{#emission}}
        <p style="margin-top: 2px">
            Circulating Supply: {{circulating_supply}}
            {{^circulating_supply_is_up_to_date}}
            <span style="color:#ff6b62">(calculating)</span>
            {{/circulating_supply_is_up_to_date}}
            | Fury emission (fees) is {{amount}} ({{fee_amount}}) as of {{blk_no}} block
        </p>
    {{/emission}}

    {{{mempool_info}}}

<div class="card">
	<div class="col-sm-12">	
		{{#is_page_zero}}
		  <h2>Transactions in the last {{no_of_last_blocks}} blocks</h2>
		{{/is_page_zero}}
		{{^is_page_zero}}
		  <h2>Transactions in older blocks<!--(height: {{height}})--></h2>
		{{/is_page_zero}}		

		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>height</th>
						<th class="w125 text-right">age {{age_format}}</th>
						<th class="w125 text-right">size [kB]</th>
						<th>transaction hash</th>
						<th class="w125 text-right">fee</th>
						<th class="w125 text-right">outputs</th>
						<th class="w125 text-right">in/out/pID</th>
						<th class="w125 text-right">ring size</th>
						<th class="w125 text-right">tx size [kB]</th>
					</tr>
				</thead>
				{{#txs}}
				<tr>
					<td><a href="/block/{{height}}">{{height}}</a></td>
					<td class="text-right">{{age}}<!--{{time_delta}}--></td>
					<td class="text-right">{{blk_size}}</td>
					<td><a href="/tx/{{hash}}">{{hash}}</a></td>
					<td class="text-right">{{tx_fee_short}}</td>
					<td class="text-right">{{sum_outputs_short}}</td>
					<td class="text-right">{{no_inputs}}/{{no_outputs}}/{{pID}}</td>
					<td class="text-right">{{mixin}}</td>
					<td class="text-right">{{tx_size_short}}</td>
				</tr>
				{{/txs}}
				<tfoot>
					<tr>
						<th colspan="8" class="text-right">Average size of 100 blocks</th>
						<th class="text-right">{{blk_size_median}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div id="pages" style="text-align: center;">
		 {{^is_page_zero}}
		   <a href="/page/{{prev_page}}">previous page</a> |
		   <a href="/">first page</a> |
		 {{/is_page_zero}}
			current page: {{page_no}}/<a href="/page/{{total_page_no}}">{{total_page_no}}</a>
			| <a href="/page/{{next_page}}">next page</a>
		</div>		
		<br>
    </div>
</div>

	{{{service_node_summary}}}


	{{{quorum_state_summary}}}


{{#show_cache_times}}
	<div class="card">
			<div class="col-sm-12">	
			<h6>
				Tx details construction time: {{construction_time_total}} s
				<br/>
				includes {{construction_time_cached}} s from block cache ({{cache_hits}} hits)
				and {{construction_time_non_cached}} s from non cache ({{cache_misses}} misses)
			</h6>
		</div>
    </div>
{{/show_cache_times}}
