<div>
    <div class="table-responsive">
        
        <h3>Signed Outputs Public Keys Checker</h3>
    </div>


    <div class="table-responsive">
        <form action="/checkrawoutputkeys" method="post" style="width:100%; margin-top:15px" class="style-1">
            Paste base64 encoded, signed output keys data here
            (In Linux, can get base64 signed raw tx data: <i>base64 your_output_keys_filename | xclip -selection clipboard</i>)
            (In Windows, can get base64 signed raw tx data: <i>certutil.exe -encode -f your_output_keys_filename encoded.txt & type "encoded.txt" | clip</i>)
            <textarea name="rawoutputkeysdata" rows="20" cols="80"></textarea>
            Viewkey (<i>output keys file data is encoded using your viewkey. Thus is needed for decryption</i>)
            
            Note: data and viewkey are sent to the server, as the calculations are done on the server side
            
            <input type="text"  name="viewkey" size="80">
            
            <input type="submit" name="action" value="check">
        </form>
    </div>


</div>
