<div class="card">
	<div class="col-sm-12">	
		<h2>Service Nodes</h2>
		<h4>(No. of Service Nodes: {{service_node_active_size}})</h4>
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
				  <tr>
					  <th>Public Key</th>
					  <th style="text-align: center;">Contributors</th>
					  <th style="text-align: center;">Operator cut (%)</th>
					  <th style="text-align: center;">Staking req.</th>
					  <th style="text-align: center;">Last reward</th>
					  <th style="text-align: center;">Last uptime</td>
					  <th style="text-align: right;">Expiry date UTC</th>
				  </tr>
				</thead>
			  {{#service_node_active_array}}
			  <tr>
				  <td><a href="/service_node/{{public_key}}">{{public_key}}</a></td>
				  <td style="text-align: center;">{{num_contributors}}</td>
				  <td style="text-align: center;">{{operator_cut}}</td>
				  <td style="text-align: center;">{{staking_requirement}}</td>
				  <td style="text-align: center;">{{last_reward_at_block}}</td>
				  <td style="text-align: center;">{{last_uptime_proof}}</td>
				  <td style="text-align: right;">{{expiration_date}}</td>
			  </tr>
			  {{/service_node_active_array}}
			</table>
		</div>
		<p class="show-list" style="text-align: center;"><a href="/service_nodes">Show full list</a></p>
	</div>
</div>

<div class="card">
	<div class="col-sm-12">	
      <h2>Service Nodes Awaiting</h2>
      <h4>(No. of Service Nodes awaiting contribution: {{service_node_awaiting_size}})</h4>
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
					  <th>Public key</th>
					  <th style="text-align: center;">Contributors</th>
					  <th style="text-align: center;">Operator cut (%)</th>
					  <th style="text-align: center;">Open for contr.</th>
					  <th style="text-align: center;">Contributed</th>
					  <th style="text-align: center;">Reserved</th>
					  <th style="text-align: center;">Staking req.</th>
					  <th style="text-align: right;">Expiry date UTC</th>
					</tr>
				 </thead>
			  {{#service_node_awaiting_array}}
			  <tr>
				  <td><a href="/service_node/{{public_key}}">{{public_key}}</a></td>
				  <td style="text-align: center;">{{num_contributors}}</td>
				  <td style="text-align: center;">{{operator_cut}}</td>
				  <td style="text-align: center;">{{open_for_contribution}}</td>
				  <td style="text-align: center;">{{contributed}}</td>
				  <td style="text-align: center;">{{reserved}}</td>
				  <td style="text-align: center;">{{staking_requirement}}</td>
				  <td style="text-align: right;">{{expiration_date}}</td>
			  </tr>
			  {{/service_node_awaiting_array}}
			</table>
		</div>
	</div>
</div>
<script>
$(function(){
	var value = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
	if(value == 'service_nodes'){
		$('.show-list').remove();
	}
});
</script>